* {
  /* border: 1px solid gold; */
}

table {
  width: 100%;
  text-align: center;
  background: rgba(0,255,0,0.5);
}

.header {
  text-align: center;
  background: rgb(60,60,60);
  color: ghostwhite;
  border: 1px solid ghostwhite;
  display: flex;
  justify-content: space-around;
}

.header button {
  padding: 10px;
}
