* {
  /* border: 1px solid gold; */
}

.container {
  background: rgb(200,200,200);
  position: relative;
  min-height: 100vh;
}

.main {
  padding-bottom: 1rem;
  max-height: 90vh;
  overflow: auto;
}

.form {
  min-height: 7vh;
  margin: 1vh;
}

.form button {
  margin-bottom: 0.5vh;
  margin-top: 80px;
}

.form label,
.form input {
  margin: 2px;
}

table {
  width: 100%;
  text-align: center;
  background: rgb(60,60,60);
  color: ghostwhite;
  border: 2px solid ghostwhite;
  top: 100px;
  margin-top: 2px;
}

/* .table-header {
  position: absolute;
  width: 100%;
  margin-bottom: 200px;
} */

.header {
  text-align: center;
  background: rgb(60,60,60);
  color: ghostwhite;
  border: 1px solid ghostwhite;
  display: flex;
  justify-content: space-around;
  top: 0;
  height: 80px;
  position: absolute;
  width: 100%;
}

.header button {
  padding: 10px;
}

th {
  width: 14%;
  border: 1px solid ghostwhite;
}

td {
  border: 1px solid ghostwhite;
  width: 14%;
}

.job-link {
  color: lightblue;
}

.footer {
  text-align: center;
  background: rgb(60,60,60);
  color: ghostwhite;
  border: 1px solid ghostwhite;
  display: flex;
  justify-content: space-around;
  position: absolute;
  margin-top: 3em;
  /* padding-top: 20px; */
  bottom: 0;
  width: 100%;
}
